/* Header */

.main-header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url("../img/bg-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content{
    align-self: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content__title{
    font-size: 5rem;
}

.content p{
    font-size: 2rem;
}

.content .btn{
    margin-top: 3rem;
}